@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --main-color: rgb(234 179 8 / var(--tw-bg-opacity));
}

.hello {
  transition: all 1s ease-in-out;
}

.grid-col-full {
  grid-column: 1/-1;
}
.fade-animation {
  opacity: 0;
  animation: fade 2.8s ease-out forwards;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.profile-child {
  opacity: 0;
  visibility: hidden;
  display: none;

  z-index: 1;
}
.profile-button {
  transition: all 1s ease;
}

.profile-button:hover .profile-picture {
  animation: profile-picture 1s ease forwards;
  transition: all 0.4s ease;
  opacity: 0;
}
@keyframes profile-picture {
  0% {
    z-index: 10;
  }
  99% {
    z-index: 10;
  }
  100% {
    z-index: 0;
  }
}

.profile-button:hover .profile-child {
  opacity: 1;
  visibility: visible;
  display: flex;
  overflow: hidden;
  z-index: 1;
  border-radius: 100px;
}

.child-circle {
  border-radius: 100%;
  width: 48px;

  height: 48px;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: -1;
}

.profile-button:hover .child-circle {
  animation: circle.5s forwards 0s ease-in-out;
}

@keyframes circle {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  100% {
    transform: scale(10);
  }
}

.item-circle {
  left: 50%;
  transform: translate(-50%, 0);
  top: 100%;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  position: absolute;

  transition: all 0.6s ease;

  z-index: -1;
}

.item-parent:hover .item-circle {
  transform: scale(4.2);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
